/*顶部导航*/
.layui-layout-admin .layui-header .layui-logo { color: #fff; font-size: 18px; font-weight: bold; }
.layui-layout-admin .layui-header .layui-nav .layui-nav-item a { color: #fff; }
.layui-layout-admin .layui-header .layui-nav .layui-nav-child a { color: #000; }
/*左侧导航*/
.layui-layout-admin .layui-side .layui-nav .layui-nav-item i { margin-right: 5px; }
.layui-layout-admin .layui-side .layui-nav .layui-nav-item .layui-nav-child dd { padding-left: 10px; }
/*主区域*/
/*.layui-layout-admin .layui-body { bottom: 0px;  }*/
.layui-layout-admin .layui-body .layui-tab { margin-top: 0px; }
.layui-layout-admin .layui-body .layui-tab .layui-tab-tool { position: absolute; width: 25px; height: 40px; left: 0; line-height: 40px; text-align: center; cursor: pointer; border-right: 1px solid #e2e2e2; border-bottom: 1px solid #e2e2e2; }
.layui-layout-admin .layui-body .layui-tab .layui-tab-tool:hover { background: #efefef; }
.layui-layout-admin .layui-body .layui-tab .layui-tab-title { left: 25px; }
.layui-layout-admin .layui-body .layui-tab .layui-tab-title li i { margin-right: 5px; }
.layui-layout-admin .layui-body .layui-tab .layui-tab-title li:first-child { padding-left: 5px; }
.layui-layout-admin .layui-body .layui-tab .layui-tab-title li:first-child .layui-tab-close { display: none; }
.layui-layout-admin .layui-body .layui-tab .layui-tab-content { position: absolute; top: 40px; right: 0; bottom: 0; left: 0; border: none; }
.layui-layout-admin .layui-body .layui-tab .layui-tab-content .layui-tab-item { height: 100%; text-align: center; }
.layui-layout-admin .layui-body .layui-tab .layui-tab-content .layui-tab-iframe { width: 100%; height: 100%; outline: 0; border: none; }
.card-refresh td,.card-close td{cursor:pointer;}

/*欢迎页*/
.layui-timeline-item .layui-text h3 { display: inline-block; }
.layui-timeline-item .layui-badge-rim {left: 5px; }
/*数据表格页面*/
.layui-table-tools{margin-bottom: 0px;padding: 10px 15px;height: 40px;}
.layui-table-tools .fl{float: left;}
.layui-table-tools .fr{float: right;}
/* 底部 */
.layui-footer{text-align:center}
/* skin1 */
html .skin-1 .layui-layout-admin .layui-header, html .skin-1 .layui-nav{
	background-color:#004a76; 
}
html .skin-1 .layui-bg-black,html .skin-1 .layui-bg-black .layui-nav{
	background-color:#e3e9eb !important;
}
html .skin-1 .layui-nav-tree .layui-nav-item a{
	color:#060405;
}
html .skin-1 .layui-nav-tree .layui-nav-item a:hover{
	background-color:#fff;
}
html .skin-1 .layui-nav-tree .layui-this,html .skin-1 .layui-nav-tree .layui-this > a,html .skin-1 .layui-nav-tree .layui-this a:hover{
	background-color:#0E6192;
	font-weight:bold;
	color:#fff;	
}
html .skin-1 .layui-nav-tree .layui-nav-bar{
	background-color:#0E6192;
}
html .skin-1 .layui-layout-right .layui-nav-bar,html .skin-1 .layui-layout-right .layui-nav-child dd.layui-this,html .skin-1 .layui-layout-right .layui-nav-child dd.layui-this a{
	color:#fff;
	background-color:#0E6192;
}
html .skin-1 .layui-nav-tree .layui-nav-item .layui-nav-more{
	border-top-color:#060405;
}
html .skin-1 .layui-nav-tree .layui-nav-itemed .layui-nav-more{
	border-top:none;
	border-bottom-color: #060405;
}
html .skin-1 .layui-nav-tree .layui-nav-itemed > a{
	color:#060405 !important;
	font-weight:bold;
}
html .skin-1 .layui-nav-tree .layui-nav-itemed .layui-nav-child{
	background-color:#e3e9eb !important;

}
html .skin-1 .layui-layout-admin .layui-side .layui-nav .layui-nav-item .layui-nav-child dd{
	padding-left:0;
	border-bottom:1px solid #e0e0e0;
}
html .skin-1 .layui-nav-tree .layui-nav-itemed .layui-nav-child dd a{
	padding-left:30px;
}	
html .skin-1 .layui-elem-quote{
	border-left-color:#0E6192;
}